@page "/forgetpassword"


<div class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="/login"><b>Proj</b>MAN</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>
                @if (loginFailure)
                {
                    <div class="text-danger">
                        <h6>
                            @ErrorMessage
                        </h6>
                    </div>
                }
                else
                {
                    <div class="text-danger">
                        <h6>
                            @ErrorMessage
                        </h6>
                    </div>
                }

                <EditForm Model="userRequest" OnValidSubmit="ForgetPassword">
                    <DataAnnotationsValidator />
                    <div class="text-danger">
                        <ValidationMessage For="@(() => userRequest.Email)" />
                    </div>
                    <div class="input-group mb-3">
                        <InputText @bind-Value="@userRequest.Email" class="form-control" placeholder="Email" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @if (IsSearching)
                        {
                            <button type="submit" class="btn btn-block btn-primary" disabled>
                                <span class="fa fa-refresh fas spinning" style="margin-right:10px;"></span>
                                Request New Password
                            </button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-block btn-primary">
                                Request New Password
                            </button>
                        }
                        <!-- /.col -->
                    </div>
                </EditForm>

                <p class="mt-3 mb-1">
                    <a href="/login">Login</a>
                </p>
                <p class="mb-0">
                    <a href="/register" class="text-center">I Don't Have an Account</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
</div>

@code {

    private ForgetPasswordRequest userRequest = new ForgetPasswordRequest();

    bool loginFailure;

    private bool IsSearching { get; set; }

    private string ErrorMessage = null;

    protected async override Task OnInitializedAsync()
    {
        await _loginService.Logout();
    }

    private async Task ForgetPassword()
    {
        IsSearching = true;

        StateHasChanged();

        var userToken = await _accountService.ForgetPassword(userRequest);

        loginFailure = userToken.Result == null;


        if (!loginFailure)
        {
            ErrorMessage = userToken.Result;
            IsSearching = false;
            userRequest.Email = null;
            StateHasChanged();
        }
        else
        {
            ErrorMessage = userToken.Error;
            IsSearching = false;
            userRequest.Email = null;
            StateHasChanged();
        }

    }
}