@page "/settings"


<section class="content-header">
    <div class="container-fluid">

        <section class="content">
            <div class="row">

                <div class="col-md-3">
                    <SideBar />
                </div>

                <div class="col-md-6">
                    <div class="card card-outline card-primary">

                    </div>
                </div>
            </div>
        </section>
    </div>
</section>