<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fa fa-cog"></i>
            <a href="/settings">SETTINGS</a>
        </h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <td id="user-address"><a href="/changeprofile">Change Profile Name</a></td>
                            </tr>
                            <tr>
                                <td id="user-address"><a href="/changepassword">Change Password</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-center">
    </div>
</div>